<h1 align="center">List of articles</h1>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate %>
  </div>  
</div>
<%= render "article", obj: @articles %>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate %>
  </div>  
</div>
