<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="http://crismablanco.com">Web development</a>
      by <a href="#">Cristian Blanco</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>